@font-face {
    font-family: 'MyFont'; /* Name your font family */
    src: url('Fonts/Gelasio/Gelasio-VariableFont_wght.ttf') format('truetype'), /* WOFF2 format */
}

p {
	font-size: 1.2rem;
}

li{
	font-size: 1.1rem;
}
/* .accordion{
	--bs-accordion-btn-bg: black;
	--bs-accordion-active-bg: #100324;
	--bs-accordion-active-color: white;
	--bs-accordion-btn-focus-box-shadow: none;
	--bs-accordion-bg: black;
	--bs-accordion-color: white;
}

.accordion-button:not(.collapsed){
	box-shadow: none;
}

.accordion-button::after {
	background-image: url();
	transition: all 0.5s;
}

.accordion-button.accordion-button:not(.collapsed)::after {
	background-image: url();
	transition: all 0.5s;
} */

div {
	font-family: "MyFont", sans-serif;
	font-weight: 500;
}
/* MAIN SITE CONSISTENCY ELEMENTS*/

	/* sets the scroll behavior for the site */
	html{
		scroll-behavior:smooth;
	}





	
/* END OF MAIN SITE CONSISTENCY ELEMENTS*/