body{
	background-color:Black;
	font-family:'Tahoma';
	height:100%;
}
/* Changes the color of the website */
header{
    background-image:linear-gradient(#182568,#6e80de);
	padding: 20px 0px;
	text-align:center;
	font-size:3vw;
	width:100%;
	max-width:100%;
	height:auto;
}
/* class for the header element */
.websiteHeading{
	text-shadow:6px 6px #3c3c3c;
	font-size:4vw;
	color: #f0f0f0;
}
/* heading for the website */
.positionLeft{
	position:fixed;
	left:15px;
	max-width:18%;
	height:12%;
}
/* A class specifically made for positioning left */
.floatRight{
	float:right;
}
/* A class made to float elements to the right */
.floatLeft{
	float:left;
}
.floatLeftNav{
	float:left;
	width:20%;
}

/* A class made specifically to float things left */
#floatLeftPic{
	float:left;
	width:auto;
	height:auto;
	max-width:33%;
	border-radius: 15%;
}
#floatRightPic{
	float:right;
	width:auto;
	height:auto;
	max-width:33%;
	border-radius: 15%;
}
#homeImage{
	width:90%;
	height:auto;
	border-radius: 15%;
}
/* An id for my picture on the homepage that floats left(changes in mobile so it
needed a separate class from other things that float left */
a.sections2:link, a.sections2:visited {
	background-color:Black;
	color:White;
	text-decoration: none;
}
/* For a nav link that has or hasn't been visited */
a.sections2:hover{
	color:Black;
	background-color:White;
	text-decoration: none;
}
a.sections2:active {
	color:Black;
	background-color:White;
	text-decoration: none;
}
a.sections:link, a.sections:visited {
	background-color:Black;
	color:White;
	border:3px solid Black;
	width:25%;
	padding: 14px 25px;
	max-width:25%;
	font-size:2vw;
	text-decoration: none;
}
/* For a nav link that has or hasn't been visited */
a.sections:hover{
	color:Black;
	background-color:White;
	text-decoration: none;
}
a.sections:active {
	color:Black;
	background-color:White;
	text-decoration: none;
}
/* For a nav link being hovered/moused over or a nav link that has been selected */
a.pages:link {
	color:Navy;
}
/* For a link that hasn't been visited yet */
a.pages:visited {
	color:#751aff;
}
/* For a link that has been visited */
a.pages:hover {
	color:#00a3cc;
}
/* For a link being hovered/moused over */
a.pages:active {
	color:#751aff;
}
a.pagesTop:link {
	color: #8000ff;
}
/* For a link that hasn't been visited yet */
a.pagesTop:visited {
	color: #8000ff;
}
/* For a link that has been visited */
a.pagesTop:hover {
	color:#00a3cc;
}
/* For a link being hovered/moused over */
a.pagesTop:active {
	color:#751aff;
}
/* For a link that has been selected */
.nameOfPage{
	margin:auto;
	text-align:center;
	color:white;
	box-sizing:border-box;
	width:25%;
	border:2px double black;
	padding: 2px;
	font-size:3.3vw;
	max-width:25%;
}
/* headings for The current section of the webpage that you are on */
h3.subHeading1{
	text-align:center;
	text-decoration:underline;
	font-size:3.5vw;
	text-shadow:2px 2px White;
}
/* sub headings for about this website section and contact info section of the homepage */
p.main{
	font-size:1.3vw;
	max-width:100%;
	text-align:center;
}
/* A class to make paragraph font size larger */

ul{
	list-style-type:circle;
	font-size:1vw;
	padding:2px;
	list-style-position:inside;	
}
ul.navBar{
	position: fixed;
	top:0;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:Black;
	width:100%;
	list-style-type: none;
	height:auto;
}
.clearfix::after {
	content: "";
  	clear: both;
  	display: table;
}

/* sets the style of the lists in the website */
div.lists:hover{
	background-color:White;
}
/* A class to make each div list change color when hovered over */
div.lists{
	float:left;
	width:33%;
}
/* sets the style of the lists in the website */
div.lists2:hover{
	background-color:White;
}
/* A class to make each div list change color when hovered over */
div.lists2{
	float:left;
	width:50%;
}
/* A div class to make the lists of games in the homepage float next to each other */
h3.categories{
	font-size:1.3vw;
	text-decoration:underline;
}
/* A class of header for the categories of the lists */
li{
	font-size:1.1vw;
}
/* Changes the font size for lists in the homepage */
.mainContent{
	width:100%;
	margin:auto;
	height:90%;
	background-image:linear-gradient(#6e80de, #98aeff);
	text-align:center;
	padding:23px 0px 23px 0px;
	height:auto;

}

/* Element that holds all content between the header and footer */
video.meg{
	max-width:75%;
	height:15%;
	min-width:50%;
}
/* A class for the videos on every webpage but the homepage webpages */
.section1{
	text-align:center;
	margin:auto;
	width:95%;
	height:33%;
	line-height:2;
	padding:0px 10px;
	display: block;
}
/* First section of 3 in the main contents of the webpage */
.section2{
	text-align:center;
	margin:auto;
	width:95%;
	height:33%;
	line-height:2;
	padding:0px 10px;
	display: block;
}
/* Second section of 3 in the main contents of the webpage */
h3.subHeading2{
	text-align:center;
	text-decoration:none;
	font-size:3.5vw;
	text-shadow:2px 2px MediumPurple;
}
/* class for the about me part of the homepage (the color of the text shadow is the only change from similar headings */
.section3{
	text-align:center;
	margin:auto;
	width:95%;
	height:33%;
	line-height:2;
	padding:0px 10px;
}
/* Last section of 3 in the main contents of the webpage */
table{
	width:90%;
	border: solid;
	margin:auto;
	font-size:2vw;
	background-color:PaleTurquoise;
}
/* This is a class for the table in the contact info section of the homepage */
th, td{
	border:2px solid black;
}
/* this class sets the borders for the inside of the table */
th:hover{
	background-color:Black;
	color:White;
}
/* this class makes this section of the table change color when you hover over it */
td:hover{
	background-color:AliceBlue;
	color:Indigo;
}
/* this class makes this section of the table change color when you hover over it */
footer{
	background-image:linear-gradient(#98aeff,#f0f0f0);
	padding:5% 0px 7% 0px;
	text-align:center;
	font-size:1.3vw;
	height:auto;
	align-content: center;
}
/* footer of the webpage */
p.question{
	font-size:1.2vw;
}
/* a class for the question in the footer of each page */
.positionLeftFoot{
	position:absolute;
	left:1.2vw;
}
/* For the footer question of each webpage */
h3.footerLink{
	font-size:2vw;
}
#inputBox{
	width:55%;
	font-size:1vw;
}
/* An id for the user input at the bottom of each page */
.buttonBox{
	font-size:1vw;
}
html{
	scroll-behavior:smooth;
}
button.portfolio{
display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: Navy;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button.portfolio:hover {
	background-color: #fff;
  	color: Navy;
}

button.portfolio:active {
  background-color: #fff;
  color: Navy;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.hiddenForSpace{
	visibility:hidden;
}
#Unity, #Unreal, #Websites, #Art, #Misc, #Education, #Profile, #Work, #Skills{
	display:none;
}
#logos{
	padding-top: 5px;
}
a.footer{
	padding:2%;
}
div.gallery {
	border: 1px solid #ccc;
	width:24.5%;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  div.imageDescription {
	padding: 15px;
	text-align: center;
	font-size:0.9vw;
  }